<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
Version: 1.4.2
Purchase: http://wrapbootstrap.com
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<%
 var domain='http://localhost:4000';
 %>
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/backend/assets/img/favicon.png" type="image/x-icon">
    <!--Basic Styles-->
    <link href="/backend/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="/backend/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/backend/assets/css/weather-icons.min.css" rel="stylesheet" />
    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <!--Beyond styles-->
    <link id="beyond-link" href="/backend/assets/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="/backend/assets/css/demo.min.css" rel="stylesheet" />
    <link href="/backend/assets/css/typicons.min.css" rel="stylesheet" />
    <link href="/backend/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/backend/css/custorm.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/backend/assets/js/skins.min.js"></script>
    <script src="/backend/js/funs_backend.js"></script>
    <script src="<%- domain;%>/socket.io/socket.io.js"></script>
</head>
<script>
    var K_sysDomain='<%- domain;%>';
    var socket = io(K_sysDomain);
</script>
<!-- /Head -->
<!-- Body -->
<body>
<% if(typeof session.adm_cid !== 'undefined'){%>
<div id="adm_cid" data-id="<%- session.adm_cid;%>"></div>
<div id="adm_name" data-id="<%- session.adm_name;%>"></div>
<div id="adm_id" data-id="<%- session.adm_id;%>"></div>
<script>
    var adm_cid=$('#adm_cid').attr('data-id');
    var adm_name=$('#adm_name').attr('data-id');
    var adm_id=$('#adm_id').attr('data-id');
    socket.emit('EAdminOnline',{adm_id:adm_id,cid:adm_cid,adm_name:adm_name});
    socket.emit('GetRoomsChatByAdm',adm_id);
</script>
<%}%>
<!-- Loading Container -->
<div class="loading-container">
    <div class="loader"></div>
</div>
<!--  /Loading Container -->
<!-- Navbar -->
<div class="navbar">
<div class="navbar-inner">
<div class="navbar-container">
<!-- Navbar Barnd -->
<div class="navbar-header pull-left">
    <a href="#" class="navbar-brand">
        <small>
            <img src="/backend/assets/img/logo.png" alt="" />
        </small>
    </a>
</div>
<!-- /Navbar Barnd -->
<!-- Sidebar Collapse -->
<div class="sidebar-collapse" id="sidebar-collapse">
    <i class="collapse-icon fa fa-bars"></i>
</div>
<!-- /Sidebar Collapse -->
<!-- Account Area and Settings --->
<div class="navbar-header pull-right">
<div class="navbar-account">
<ul class="account-area">
<li>
    <a class="dropdown-toggle" data-toggle="dropdown" title="Mails" href="#">
        <i class="icon fa fa-envelope"></i>
        <span class="badge" id="CountMes">0</span>
    </a>
    <!--Messages Dropdown-->
    <ul class="pull-right dropdown-menu dropdown-arrow dropdown-messages" id="UserMes"></ul>
    <!--/Messages Dropdown-->
</li>
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" title="Mails" href="#">
            <i class="icon fa fa-users"></i>
        </a>
        <!--RoomsChated Dropdown-->
        <ul class="pull-right dropdown-menu dropdown-arrow dropdown-messages" id="RoomsChated"></ul>
        <!--/RoomsChated Dropdown-->
    </li>
<li>
    <a class="wave in" id="chat-link" title="Chat" href="#">
        <i class="icon glyphicon glyphicon-comment"></i>
        <span class="badge" id="ClientOnlinesCount">0</span>
    </a>
</li>
    <li>
        <a class="login-area dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <div class="avatar" title="View your public profile">
                <img src="/kchat/imgs/v/ico_admin.gif">
            </div>
            <section>
                <h2><span class="profile"><span></span><% if(typeof session.adm_name !== 'undefined'){%><%- session.adm_name;%><%}%></span></h2>
            </section>
        </a>
        <!--Login Area Dropdown-->
        <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
            <li class="username"><a><% if(typeof session.adm_name !== 'undefined'){%><%- session.adm_name;%><%}%>khainv</a></li>
            <li class="edit">
                <a href="profile.html" class="pull-left">Profile</a>
                <a href="#" class="pull-right">Setting</a>
            </li>
            <li class="dropdown-footer">
                <a href="/kadmin/admins/logout">
                    Sign out
                </a>
            </li>
        </ul>
        <!--/Login Area Dropdown-->
    </li>
</ul>
</div>
</div>
<!-- /Account Area and Settings -->
</div>
</div>
</div>
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
<!-- Page Container -->
<div class="page-container">
<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
<!-- Page Sidebar Header-->
<div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
<!--Dashboard-->
<li class="active">
    <a href="index.html">
        <i class="menu-icon glyphicon glyphicon-home"></i>
        <span class="menu-text"> Dashboard </span>
    </a>
</li>
<!--Databoxes-->
<li>
    <a href="#" class="menu-dropdown">
        <i class="menu-icon fa fa-desktop"></i>
        <span class="menu-text"> Cài đặt</span>
        <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
        <li>
            <a href="/kadmin/configs/index">
                <span class="menu-text">Xem</span>
            </a>
        </li>
        <li>
            <a href="/kadmin/configs/add">
                <span class="menu-text">Thêm</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="/kadmin/admins/chat" target="_blank">
        <i class="menu-icon glyphicon glyphicon-tasks"></i>
        <span class="menu-text"> Chat</span>
    </a>
</li>
<!--Widgets-->
<li>
    <a href="#" class="menu-dropdown">
        <i class="menu-icon fa fa-desktop"></i>
        <span class="menu-text"> Admins </span>
        <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
        <li>
            <a href="/kadmin/admins/index">
                <span class="menu-text">Danh sách</span>
            </a>
        </li>
        <li>
            <a href="/kadmin/admins/add">
                <span class="menu-text">Thêm</span>
            </a>
        </li>
    </ul>
</li>
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">Customers</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="/kadmin/customers/index">
                    <span class="menu-text">Danh sách</span>
                </a>
            </li>
            <li>
                <a href="/kadmin/customers/add">
                    <span class="menu-text">Thêm</span>
                </a>
            </li>
        </ul>
    </li>
<!--UI Elements-->
<li>
    <a href="#" class="menu-dropdown">
        <i class="menu-icon fa fa-desktop"></i>
        <span class="menu-text"> Elements </span>
        <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
        <li>
            <a href="elements.html">
                <span class="menu-text">Basic Elements</span>
            </a>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                                    <span class="menu-text">
                                        Icons
                                    </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a href="font-awesome.html">
                        <i class="menu-icon fa fa-rocket"></i>
                        <span class="menu-text">Font Awesome</span>
                    </a>
                </li>
                <li>
                    <a href="glyph-icons.html">
                        <i class="menu-icon glyphicon glyphicon-stats"></i>
                        <span class="menu-text">Glyph Icons</span>
                    </a>
                </li>
                <li>
                    <a href="typicon.html">
                        <i class="menu-icon typcn typcn-location-outline"></i>
                        <span class="menu-text"> Typicons</span>
                    </a>
                </li>
                <li>
                    <a href="weather-icons.html">
                        <i class="menu-icon wi wi-hot"></i>
                        <span class="menu-text">Weather Icons</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="tabs.html">
                <span class="menu-text">Tabs & Accordions</span>
            </a>
        </li>
        <li>
            <a href="alerts.html">
                <span class="menu-text">Alerts & Tooltips</span>
            </a>
        </li>
        <li>
            <a href="modals.html">
                <span class="menu-text">Modals & Wells</span>
            </a>
        </li>
        <li>
            <a href="buttons.html">
                <span class="menu-text">Buttons</span>
            </a>
        </li>
        <li>
            <a href="nestable-list.html">
                <span class="menu-text"> Nestable List</span>
            </a>
        </li>
        <li>
            <a href="treeview.html">
                <span class="menu-text">Treeview</span>
            </a>
        </li>
    </ul>
</li>
</ul>
<!-- /Sidebar Menu -->
</div>
<!-- /Page Sidebar -->
<!-- Chat Bar -->
<div id="chatbar" class="page-chatbar">
<div class="chatbar-contacts">
    <div class="contacts-search">
        <input type="text" class="searchinput" placeholder="Search Contacts" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">Search Your Contacts and Chat History</div>
    </div>
    <ul class="contacts-list" id="ClientOnlines">
    </ul>
</div>
<div class="chatbar-messages" style="display: none;">
    <div class="messages-contact">
        <div class="contact-avatar">
            <img src="/backend/assets/img/avatars/divyia.jpg" />
        </div>
        <div class="contact-info">
            <div class="contact-name">Divyia Philips</div>
            <div class="contact-status">
                <div class="online"></div>
                <div class="status">online</div>
            </div>
            <div class="last-chat-time">
                a moment ago
            </div>
            <div class="back">
                <i class="fa fa-arrow-circle-left"></i>
            </div>
        </div>
    </div>
    <ul class="messages-list">
        <li class="message">
            <div class="message-info">
                <div class="bullet"></div>
                <div class="contact-name">Me</div>
                <div class="message-time">10:14 AM, Today</div>
            </div>
            <div class="message-body">
                Hi, Hope all is good. Are we meeting today?
            </div>
        </li>
        <li class="message reply">
            <div class="message-info">
                <div class="bullet"></div>
                <div class="contact-name">Divyia</div>
                <div class="message-time">10:15 AM, Today</div>
            </div>
            <div class="message-body">
                Hi, Hope all is good. Are we meeting today?
            </div>
        </li>
        <li class="message">
            <div class="message-info">
                <div class="bullet"></div>
                <div class="contact-name">Me</div>
                <div class="message-time">10:14 AM, Today</div>
            </div>
            <div class="message-body">
                Hi, Hope all is good. Are we meeting today?
            </div>
        </li>
        <li class="message reply">
            <div class="message-info">
                <div class="bullet"></div>
                <div class="contact-name">Divyia</div>
                <div class="message-time">10:15 AM, Today</div>
            </div>
            <div class="message-body">
                Hi, Hope all is good. Are we meeting today?
            </div>
        </li>
        <li class="message">
            <div class="message-info">
                <div class="bullet"></div>
                <div class="contact-name">Me</div>
                <div class="message-time">10:14 AM, Today</div>
            </div>
            <div class="message-body">
                Hi, Hope all is good. Are we meeting today?
            </div>
        </li>
        <li class="message reply">
            <div class="message-info">
                <div class="bullet"></div>
                <div class="contact-name">Divyia</div>
                <div class="message-time">10:15 AM, Today</div>
            </div>
            <div class="message-body">
                Hi, Hope all is good. Are we meeting today?
            </div>
        </li>
    </ul>
    <div class="send-message">
                        <span class="input-icon icon-right">
                            <textarea rows="4" class="form-control" placeholder="Type your message"></textarea>
                            <i class="fa fa-camera themeprimary"></i>
                        </span>
    </div>
</div>
</div>
<!-- /Chat Bar -->